.Footer_Row1{
    display: flex;
    margin-top:40px;
}
.Row1_Logo{
    display: flex;
    width: 330px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4%;
}
.Logo_Image{
    width: 37px;
}
.Logo_Text{
    display: flex;
    color: #fff;
    margin-left: 8px;
    font-size: 37px;
    font-style: normal;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    line-height: 17px;
    text-transform: lowercase;
}
.Row1_About{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 40px;
}
.About_Business, .About_Customers{
    color: #fff;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    line-height: normal;
    text-transform: none;

    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}
.Row1_Buttons{
    display: flex;
    width: 1260px;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 4%;
}
.Buttons_GooglePlay.MuiButton-root, .Buttons_AppStore.MuiButton-root{
    padding: 0px;
    display: flex;
    color: #fff;
}
.Footer_Line{
    display: flex;
    width: 92%;
    align-items: center;
    justify-content: center;
    margin-left: 4%;
    margin-top: 30px;
    transform: rotate(0deg);
    border-top: 1px solid #444;
    box-sizing: border-box;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
}
.Footer_Row2{
    display: flex;
    margin-top: 20px;
    margin-bottom: 25px;
}
.Row2_Copyright{
    display: flex;
    width: 800px;
    height: 20px;
    margin-left: 4%;
    color: #b9b9b9;
    font-size: 14px;
    font-style: normal;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    line-height: 20px;
    text-transform: none;
}
.Row2_Buttons{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
    margin-right: 4%;
}
.button.MuiButton-root{
    color: #b9b9b9;
    padding: 0px;
    background: none;
    font-size: 14px;
    font-style: normal;
    text-align: right;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    line-height: 20px;
    text-transform: none;

    &:hover{
        text-decoration: underline;
    }
}
.Footer_Column1, .Footer_Column2{
    display: none;
}
/* adaptive for mobile */
@media (max-width: 767px) {
    .BusinessSection_Footer{
        height: auto;
    }
    .Footer_Column1{
        display: flex;
        width: 90%;
        padding-top: 25px;
        padding-left: 16px;
    }
    .Column1_Logo{
        display: flex;
        position: absolute;
        flex-direction: row;
        height: 23px;
        width: 90%;
    }
    .Logo_Image{
        display: flex;
        width: 19px;
        height: 23px;
    }
    .Logo_Text{
        display: flex;
        margin-top: 3px;
        color: #fff;
        font-size: 29.600000381469727px;
        font-style: normal;
        text-align: center;
        font-family: "Outfit",sans-serif;
        font-weight: 600;
        line-height: 14px;
        text-transform: lowercase;
    }
    .Column1_Buttons{
        display: flex;
        width: 100%;
        flex-shrink: 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin-top: 70px;
    }
    .Buttons{
        color: #fff;
        font-size: 20px;
        font-style: normal;
        margin-top: 0;
        text-align: center;
        font-family: "Outfit",sans-serif;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0;
        letter-spacing: 0;
        text-transform: none;
        text-decoration: none;

        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .Buttons_Contacts{
        width: 182px;
        height: 57px;
        margin-top: 20px;
    }
    .Buttons_AppStore{
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .Buttons_AppStore, .Buttons_GooglePlay{
        width: 194px;
        height: 57px;
    }
    .Footer_Column2{
        display: flex;
    }
    .Footer_Line{
        display: flex;
    }
    .Column2_Copyright{
        display: flex;
        width: 90%;
        height: 20px;
        margin-left: 4%;
        color: #b9b9b9;
        font-size: 14px;
        font-style: normal;
        text-align: left;
        font-family: "Outfit", sans-serif;
        font-weight: 200;
        line-height: 20px;
        text-transform: none;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .Footer_Row1, .Footer_Row2{
        display: none;
    }
}
/* adaptive for 1440 */
@media (min-width: 1440px) {
    .About_Business, .About_Customers{
        font-size: 28px;
    }
}