.AboutSection{
    margin-top: 100px;
    position: relative;
    min-height: 953px;
}
.AboutSection_Text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 550px;
    height: auto;
    margin-bottom: 150px;
    margin-left: 60px;
}
.AboutSection_Header{
    color: #fff;
    font-size: 96px;
    font-style: normal;
    text-align: left;
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    line-height: 102px;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
    text-decoration: none;
}
.AboutSection_Info{
    position: relative;
    width: 397px;
    height: auto;
    margin-top: 80px; 
    color: #fff;
    font-size: 36px;
    font-style: normal;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
    z-index: 1;
}
.AboutSection_Texts{
    display: flex;
    position: absolute;
    margin-left: 588px;
    margin-top: 190px;
    top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    gap: 91px;
}
.main{
    color: #fff;
    padding: 10px 0 20px 0;
    font-size: 48px;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    line-height: 51px;
    text-transform: none;
}
.other{
    color: #fff;
    font-size: 24px;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    line-height: 29px;
    text-transform: none;
}
.Texts_Fraud{
    margin-left: 20px;
}
.AboutSection_Background{
    position: absolute;
    left: 115px;
    width: 353px;
    height: 34px;
    transform: rotate(-1.69deg);
    box-sizing: border-box;
    border-radius: 30px 30px 30px 30px;
    background-color: #a64ced;
}
.AboutSection_Logo{
    display: flex;
    position: absolute;
    height: auto;
    width: 420px;
    min-height: 482;
    z-index: 0;
}
/* adaptive for mobile */
@media (max-width: 767px) {
    .AboutSection{
        margin-top: 40px;
        height: auto;
        width: 100%;
    }
    .AboutSection_Text{
        width: 90%;
        margin: 0px 0px 0px 16px;
    }
    .AboutSection_Header{
        font-size: 40px;
        font-weight: 700;
        line-height: 42px;
    }
    .AboutSection_Info{
        width: 273px;
        height: auto;
        margin-top: 30px; 
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
    }
    .AboutSection_Background{
        position: absolute;
        width: 235px;
        height: 29px;
        left: 54px;
        transform: rotate(-1.69deg);
        box-sizing: border-box;
        border-radius: 30px 30px 30px 30px;
        background-color: #a64ced;
    }
    .AboutSection_Texts{
        display: flex;
        position: relative;
        margin-left: 16px;
        margin-top: 40px;
        top: 0;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        gap: 91px;
    }
    .main{
        font-size: 32px;
        font-weight: 700;
        line-height: 34px;
    }
    .other{
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }
    .Contactless_Other{
        width: 321px;
    }
    .Analytics_Other{
        width: 306px;
    }
    .Fraud_Other{
        width: 336px;
    }
    .Increased_Main{
        width: 300px;
    }
    .Texts_Fraud{
        margin-left: 0px;
    }
    .AboutSection_Logo{
        display: none;
    }
}
/* adaptive for computer */
@media (min-width: 1440px) {
    .AboutSection_Logo{
        width: auto;
        height: 484px;
    }
}