.AboutSection{
    margin-top: 100px;
    position: relative;
    min-height: 953px;
}
.AboutSection_Text{
    margin-bottom: 150px;
    margin-left: 60px;
}
.AboutSection_Header{
    color: #fff;
    font-size: 96px;
    font-style: normal;
    text-align: left;
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    line-height: 102px;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
    text-decoration: none;
}
.AboutSection_Info{
    position: relative;
    width: 397px;
    height: auto;
    margin-top: 80px; 
    color: #fff;
    font-size: 36px;
    font-style: normal;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
    z-index: 1;
}
.AboutSection_Background{
    position: absolute;
    left: 115px;
    width: 353px;
    height: 34px;
    transform: rotate(-1.69deg);
    box-sizing: border-box;
    border-radius: 30px 30px 30px 30px;
    background-color: #a64ced;
}
.AboutSection_Icons{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    width: 610px;
    height: 420px;
    top: 200px;
    left: 570px;
    gap: 270px;
}
.AboutSection_Chain{
    position: relative;
    left: -10px;
}
.AboutSection_MainText{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 710px;
    height: 460px;
    top: 300px;
    left: 560px;
    display: flex;
    gap: 110px;
    color: #fff;
    font-size: 48px;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    line-height: 51px;
}
.MainText_Analytics{
    position: relative;
    top: 50px;
}
.MainText_Fraud{
    position: relative;
    top: 50px;
    left: 50px;
}
.AboutSection_OtherText{
    position: absolute;
    left: 560px;
    display: flex;
    gap: 50px;
    color: #fff;
    font-size: 24px;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    line-height: 29px;
}
.OtherText_NFC{
    position: relative;
    bottom: 110px;
}
.OtherText_Spend{
    position: relative;
    bottom: 60px;
    right: 3px;
}
.OtherText_Patterns{
    position: relative;
    top: 50px;
}
.OtherText_Secure{
    position: relative;
    top: 50px;
    left: 20px;
}
.AboutSection_Logo{
    display: flex;
    position: absolute;
    height: auto;
    width: 420px;
    min-height: 482;
    z-index: 0;
}
/* adaptive for computer */
@media (min-width: 1440px) {
    .AboutSection_Icons{
        margin-left: 200px;
        width: 700px;
    }
    .AboutSection_Arrow{
        margin-left: 60px;
    }
    .AboutSection_Chain{
        margin-left: 47px;
    }
    .AboutSection_MainText{
        margin-left: 200px;
        gap: 110px;
        font-size: 72px;
        width: auto;
        line-height: 56px;
    }
    .MainText_Increased{
        position: relative;
        left: -60px;  
    }
    .MainText_Fraud{
        position: relative;
        left: -10px;        
    }
    .AboutSection_OtherText{
        margin-left: 200px;
        height: auto;
        width: auto;
        gap: 60px;
    }
    .OtherText_NFC{
        margin-top: 10px;
        margin-left: 5px;
    }
    .OtherText_Spend{
        margin-top: 10px;
        margin-left: 52px;
    }
    .OtherText_Patterns{
        margin-top: 5px;
        margin-left: 2px;
    }
    .OtherText_Secure{
        margin-left: 30px;
        margin-top: 5px;
    }
    .AboutSection_Logo{
        width: auto;
        height: 484px;
    }
}