.WhyBudssSection{
    position: relative;
    overflow: hidden;
    height: 995px;
    top: 400px;
}
.WhyBudssSection_Header{
    color: #fff;
    font-size: 64px;
    font-style: normal;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    line-height: 68px;
    text-transform: none;
}
.WhyBudssSection_About{
    position: relative;
    color: #fff;
    font-size: 36px;
    font-style: normal;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    line-height: normal;
    text-transform: none;
    margin-top: 20px;
    z-index: 1;
}
.WhyBudssSection_backgroundText img{
    position: absolute;
    top: 135px;
    width: 380px;
    z-index: 0;
}

.WhyBudssSection_Containers{
    position: absolute;
    top: 250px;
    left: 35px;
}

.Row1_Container1{
    background-color: #f5f5f5;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 30px;
    max-width: 733px;
    min-height: 362px;
}
.Container1_Img img{
    position: absolute;
    border-radius: 30px 30px 0px 30px;
}
.Container1_Header{
    position: relative;
    top: 40px;
    right: 40px;
    color: #000;
    font-size: 48px;
    font-style: normal;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    line-height: normal;
    text-transform: none;
    margin-bottom: 20px
}
.Container1_About{
    position: relative;
    color: #000;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
    top: 40px;
    right: 60px;
}

.Row1_Container2{
    position: absolute;
    left: 750px;
    background-color: #f5f5f5;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 30px;
    max-width: 547px;
    min-height: 362px;
}
.Container2_Header{
    position: relative;
    color: #000;
    font-size: 48px;
    font-style: normal;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    line-height: normal;
    text-transform: none;
    top: 40px;
    left: 40px;
    margin-bottom: 20px;
}
.Container2_About{
    position: relative;
    color: #000;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;   
    top: 40px;
    left: 40px;
}
.Container2_Basket1{
    position: absolute;
    right: 0px;
    bottom: 115px;
}
.Container2_Basket2{
    position: absolute;
    bottom: 0px;
    right: 60px;
}
.Container2_Basket3{
    position: absolute;
    bottom: 0px;
    left: 72px;
}

.Containers_Row2{
    position: relative;
    height: 300px;
    margin-top: 20px;
}
.Row2_Container3{
    position: relative;
    background-color: #f5f5f5;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 30px;
    max-width: 547px;
    min-height: 362px;
}
.Container3_Header{
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    color: #000;
    font-size: 48px;
    font-style: normal;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    line-height: normal;
    text-transform: none;
}
.Container3_About{
    margin-left: 40px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    font-family: "Outfit",sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
}
.Container3_Img{
    position: absolute;
    bottom: 0px;
    left: 345px;
}

.Row2_Container4{
    position: absolute;
    left: 565px;
    background-color: #f5f5f5;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 30px;
    max-width: 733px;
    min-height: 362px;
}
.Container4_Header{
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #000;
    font-size: 48px;
    font-style: normal;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    line-height: normal;
    text-transform: none;
}
.Container4_About{
    margin-left: 40px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
}
.Container4_Img{
    position: absolute;
    right: 43px;
    bottom: 0;
}