/*1 section*/
header{
    position: relative;
    z-index: 10;
}
.Business.MuiButton-root{
    margin-top: 8px;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: none;
    width: 175px;
    height: 38px;
    background-color: #181818;
    color: #ffffff;
    border-radius: 20px 20px 0 0;
}
.Customers.MuiButton-root{
    margin-top: 8px;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: none;
    width: 175px;
    height: 38px;
    /*background-color: #181818;*/
    color: #000000;
    border-radius: 20px 20px 0 0;
    margin-left: 5px;
}
.BusinessSection_Contact{
    position: absolute;
    bottom: -8px;
    right: 55px;
}
.BusinessSection_Buttons{
    margin-top: -8px;
    margin-left: 60px;
}
.BusinessSection_Icon{
    margin-top: 20px;
    margin-left: 60px;
}
.BusinessSection_Icon svg{
    width: 32px;
    height: 36px;
}
.BusinessSection_Text{
    font-family: "Outfit", "SemiBold", sans-serif;
    font-size: 37px;
    font-weight: 600;
    line-height: 30px;
    text-transform: lowercase;
    text-align: left;
    color: #fff;
    margin-top: 3px;
}