header{
    position: relative;
    height: auto;
    width: auto;
    z-index: 10;
}
.Header_Background{
    background: #ffaa4c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 38px;
    overflow: hidden;
    z-index: 0;
}
.Header_Buttons{
    margin-top: -8px;
    margin-left: 60px;
}
.Header_Business.MuiButton-root{
    margin-top: 8px;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: none;
    width: 175px;
    height: 34px;
    background-color: #181818;
    color: #ffffff;
    border-radius: 20px 20px 0 0;
}
.Header_Customers.MuiButton-root{
    margin-top: 8px;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: none;
    width: 175px;
    height: 34px;
    /*background-color: #181818;*/
    color: #000000;
    border-radius: 20px 20px 0 0;
    margin-left: 5px;
}
.Header_HeaderBudss{
    margin-top: 20px;
    margin-left: 60px;
}
.Header_HeaderBudss svg{
    width: 32px;
    height: 36px;
}
.Header_Text{
    font-family: "Outfit", "SemiBold", sans-serif;
    font-size: 37px;
    font-weight: 600;
    line-height: 30px;
    text-transform: lowercase;
    text-align: left;
    color: #fff;
    margin-top: 3px;
}
.Header_Button{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: -8px;
    right: 55px;
}
.Header_Burger.MuiButton-root{
    position: absolute;
    color: #181818;
    right: 0;
    margin: 16px;
}
/* adaptive for mobile */
@media (max-width: 767px) {
    .Header_Background{
        width: 100%;
        height: 45px;
    }
    .Header_Buttons{
        margin-left: 0px;
    }
    .Header_Business.MuiButton-root{
        width: 165px;
        height: 38px;
    }
    .Header_Customers.MuiButton-root{
        width: 165px;
        height: 38px;
    }
    .Header_HeaderBudss{
        margin: 16px;
    }
    .Header_Button{
        display: none;
    }
}
/* adaptive for computer */
@media (min-width: 1440px) { 
    header{
        height: 109px;
    }
    .Header_Background{
        width: 100%;
        height: 42px;
    }
}