body{
    overflow-x: hidden;
    background: #181818;
}
body::-webkit-scrollbar {
    display: none;
}
.Contact.MuiButton-root{
    width: 182px;
    height: 57px;
    border-radius: 16px;
    background-color: #954ced;
    color: #fff;
    font-size: 17px;
    text-transform: none;
    font-family: "Outfit", sans-serif;
    transition: all .30000001192092896s ease-out;
    font-weight: 500;
}
.Contact:hover{
    cursor: pointer;
    background-color: #181818;
}
