.BusinessSection{
    min-height: 88vh;
}
.BusinessSection_Header{
    margin: 0px;
    max-width: 671px;
    color: #fff;
    font-size: 96px;
    font-style: normal;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    line-height: 102px;
}
.BusinessSection_Info{
    margin-top: 10px;
    max-width: 671px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-family: "Outfit", sans-serif;
    font-weight: 100;
    line-height: 24px;
}
.BusinessSection_About{
    margin-left: 90px;
}
.ContactButton{
    margin-top: 30px;
}
.BusinessSection_Image{
    position: absolute;
    z-index: 10;
    bottom: 3px;
    right: 60px;
}
.BusinessSection_Image img{
    width: auto;
    height: 523px;
}
.BusinessSection_Background{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.BusinessSection_Background svg{
    width: 586px;
    height: 498px;
}