.StatsSection{
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    height: 222px;
}
.StatsSection_Text{
    background-color: #954ced;
}
.Text_Procentges{
    display: flex;
    color: #fff;
    font-size: 64px;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    line-height: 68px;
    text-transform: none;
    gap: 205px;
}
.Procentges_30{
    position: relative;
    right: -10px;
}
.Procentges_10{
    position: relative;
    right: 60px;
}
.Text_About{
    display: flex;
    color: #fff;
    font-size: 24px;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    line-height: 29px;
    text-transform: none;
    gap: 100px;
}