.StatsSection{
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    background-color: #954ced;
    min-height: 222px;
}
.StatsSection_Texts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    min-height: 222px;
}
.Texts_Texts{
    display: flex;
    flex-direction: column;
}
.Procentges{
    color: #fff;
    font-size: 64px;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
}
.Text{
    margin-top: 16px;
    color: #fff;
    font-size: 24px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}
.Texts_15{
    width: 250px;
}
.Texts_30, .Texts_10{
    width: 200px;
}
/* adaptive for mobile */
@media (max-width: 767px) {
    .StatsSection{
        margin-top: 40px;
        height: 286px;
        width: 100%;
        padding: 0 0px 0 0px;
    }
    .StatsSection_Texts{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 40px;
        height: 286px;
        width: 100%;
    }
    .Texts_Texts{
        flex-direction: row;
        align-items: center;
        gap: 0px;
        height: 35px;
        width: 100%;
    }
    .Procentges{
        flex: 0 0 80px;
        font-size: 40px;
        line-height: 42px;
    }
    .Text{
        margin-top: 25px;
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        width: 100%;
    }
    .Text_30{
        margin-left: 10px;
    }
}