.HowWorksSection{
    position: relative;
    margin-top: 100px;
    min-height: 636px;
    overflow: hidden;
}
.HowWorksSection_Image{
    display: flex;
    position: absolute;
    z-index: 10;
}
.Image_Phone{
    display: flex;
    width: auto;
    z-index: 10;
}
.HowWorksSection_Text{
    position: absolute;
    bottom: 70px;
    width: 100%;
    gap: 110px;
    z-index: 9;
    overflow: hidden;
}
.Text{
    margin-right: 30px;
}
.marquee{
    width: max-content;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 30s linear infinite;
}
.marquee_row1{
    animation-delay: -5s;
}
.marquee-reverse{
    animation-direction: reverse;
    animation-delay: -10s;
}
.marquee_row3{
    animation-delay: 0s;
}
@keyframes marquee{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0);
    }
}
@media (max-width: 767px) {
    .HowWorksSection{
        display: flex;
        position: relative;
        margin-top: 80px;
        min-height: 460px;
        overflow: hidden;
    }
    .Image_Phone{
        display: flex;
        width: auto;
        height: 461px;
        z-index: 10;
    }
    .HowWorksSection_Text{
        gap: 90px;
    }
    .Text{
        width: auto;
        height: 51px;
    }
    @keyframes marquee{
        from{
            transform: translateX(-216%);
        }
        to{
            transform: translateX(0);
        }
    }
}